/*font-family: "Roboto",
sans-serif; */
/* font-family: "Raleway",
sans-serif; */

:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue: #2E2F42;
    --white: #fff;
    --dairy: #fcfcfc;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}


ul {
    list-style: none;
    margin-block: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

a {
  text-decoration: none;
  color: #2e2f42
}
a:focus, a:hover {color: #4d5ae5;}

button {font-family: inherit;
    border: 0;
    background: none;
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    background: #fff;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #region header */
.page-header {
    background-color: #fff;
    padding: 24px 0;
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation-header {
    background: var(--white);
    display: flex;
    align-items: center;
}

.nav-list-header {
    background: var(--white);
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 332px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo:hover,
.logo:focus {color: #404bbf;}

.part-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    color: #2e2f42;
}
.part-logo:hover,
.part-logo:focus {color: #404bbf;}

.navigation-header:hover,
.navigation-header:focus {color: #404bbf;}



.studio-nav-link {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.studio-nav-link:hover,
.studio-nav-link:focus {color: #404bbf;}
 
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    }

.nav-link:hover,
.nav-link:focus
{color: #4d5ae5;}

.contacts { 
    font-style: normal;
}

.email {color: #434455;}
.email:hover,
.email:focus {color: #404bbf;}

.contacts-list {
font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
}

/* #endregion header */

/* #region hero */

.main-section {background: var(--navy-blue);
    height: 600px;
}
.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main-title {
    font-family: var(--font-family);
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--white);
        max-width: 496px;
        margin: 0 auto;
        padding-top: 188px;
        margin-bottom: 48px;
}

.order-button {
    background: var(--iris);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    border-radius: 4px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    
}


.order-button:hover, 
.order-button:focus {background: #404bbf}

.hero {
    height: 344px;
}

.hero-list {
    display: flex;
    gap: 24px;
    padding: 120px 0;
}

.hero-title {font-family: var(--font-family);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}


.hero-title {font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

}

.hero-text {font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);

}

/* #endregion hero */

/* #region team */

.team {
    background: #F4F4FD
}

.team-container {
    height: 732px;
}

.team-title {font-family: var(--font-family);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    padding-top: 120px;
    padding-bottom: 72px;
}

.team-list {
    background: var(--white);
    display: flex;
    text-align: center;
    gap: 24px;
    width: 264px;
    height: 380px;
}

.team-member {
    background: var(--white);
    border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px;
        width: 264px;
        height: 380px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: var(--white);
}

.team-name {font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    padding-top: 32px;
    padding-bottom: 8px;
}

.team-role {font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}

/* #endregion team */

/* #region portfolio */

.portfolio-container {
    height: 1240px;
}

.portfolio {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
        text-transform: capitalize;
        padding-top: 120px;
        padding-bottom: 72px;
    }

.portfolio-item {
    height: 420px;
    width: 360px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-item-info {
    border-bottom: 1px solid var(--cornflower);
        border-left: 1px solid var(--cornflower);
        border-right: 1px solid var(--cornflower);
        padding: 32px 16px;
        width: 360px;
        height: 120px;
}

.portfolio-title {font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-transform: capitalize;
    margin-bottom: 8px;
}

.portfolio-sub {font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}


/* #endregion portfoli */

/* #region footer */

.footer {background: var(--navy-blue);
    height: 312px;
}

.footer-container {
    padding-top: 100px;
}

.part-footer-logo{font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

.footer-text {
font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    width: 264px;
    padding-top: 16px;
}

/* #endregion footer */